* { 
    margin: 0; 
    padding: 0; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#main { 
    width: 400px; 
    height: 600px; 
    box-shadow: rgba(0,0,0,.1) 6px 6px 30px;
    border-radius: 16px;
    display: flex; 
    flex-direction: column;
    overflow: hidden;
}

#top-container { 
    width: 100%; 
    flex: .85; 
    background: linear-gradient(#b597f6,#96c6ea);
    box-shadow: rgba(0,0,0,.2) 0px 6px 6px;
    border-radius: 16px;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#bottom-container { 
    width: 100%;
    flex: 1;
}

#title-container { 
    margin-top: 32px;
    font-size: 28px;
    color:white;
}

.trace { 
    border: blue dashed 1px;
}